# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [129]:
baba_ = (11*3)-3
baba_

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [1]:
metin = "_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._"

In [2]:
metin.replace('veri bilim',"VERI BILIM")

'_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere VERI BILIMci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._'

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [4]:
print('Selimhan Meral 24 Istanbul 2.5')

Selimhan Meral 24 Istanbul 2.5

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [1]:
for a in range(len('alanlardan biridir.')):
    print('alanlardan biridir.\n')

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

In [2]:
for a in range(len('Veri bilimi')):
    print('Veri bilimi\n')

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [5]:
if 'veri bilimi'.islower():
    print('kucuk harf')
if 'VERİ BİLİMİ'.isupper():
    print('buyuk harf')

kucuk harf
buyuk harf

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [35]:
listem  = ['Selimhan', 'Meral' ,24 ,'Istanbul', 2.5]

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [36]:
listem2 = listem[2:]

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [37]:
for i in listem2:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [38]:
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2 = listem2 + eklenecek_liste
listem2

[24, 'Istanbul', 2.5, 'Ali', 90, 'Mehmet']

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [39]:
listem3 = listem2[-3:-1]
listem3

['Ali', 90]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [40]:
listem2 = listem2 + [listem3]
listem2

[24, 'Istanbul', 2.5, 'Ali', 90, 'Mehmet', ['Ali', 90]]

12- "listem2" içerisinden 90 elemanını siliniz.

In [43]:
del listem2[4]
listem2

[24, 'Istanbul', 2.5, 'Ali', ['Ali', 90]]

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [54]:
yeni_liste = []
for i in range(10,0,-1):
    yeni_liste.append(i)

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [57]:
print(str(yeni_liste.index(7))+','+str(yeni_liste.index(2)))

3,8

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [59]:
tuple1 = tuple(listem2)
tuple1

(24, 'Istanbul', 2.5, 'Ali', ['Ali', 90])

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

In [61]:
lst = list(tuple1)
lst[lst.index('Ali')] = 'Veli'
tuple1 = tuple(lst)

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [65]:
yeni_tuple = []
for i in range(10,0,-1):
    yeni_tuple.append(i)
yeni_tuple = tuple(yeni_tuple)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [67]:
print(str(yeni_tuple.index(7))+','+str(yeni_tuple.index(2)))

3,8

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [80]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
set1 = set()
for key in dictionary:
    set1.add(dictionary[key][0])
    
set1

{'MSE', 'RMSE', 'SSE'}

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [83]:
dictionary['CART'][1] = 30
dictionary

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [85]:
dictionary['RF'] = ['SSE',50]
dictionary

{'REG': ['RMSE', 10],
 'LOG': ['MSE', 20],
 'CART': ['SSE', 30],
 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [87]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]

set1 = set(liste1)
set1

{10, 20, 'Ali', 'Ayşe', 'Mehmet'}

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

In [93]:
list(set1)[6]

IndexError: list index out of range

In [90]:
list(set1)[8]

IndexError: list index out of range

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [95]:
set1[0] = 40

TypeError: 'set' object does not support item assignment

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [97]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [98]:
print(set1.difference(set2))

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [99]:
print(set2.difference(set1))

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [100]:
set1.symmetric_difference(set2)

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [101]:
set1.intersection(set2)

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [102]:
set1.union(set2)

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [105]:
set1.union(set2).isdisjoint(set2)

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [108]:
set1.issubset(set2)

False

25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint())

In [109]:
set1.isdisjoint(set2)

False

In [117]:
maaslar = [1000,2000,3000,4000,5000]

def zam(maas):
    maas += (maas/100)*20
    return maas

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [118]:
for i in range(len(maaslar)):
    maaslar[i] = zam(maaslar[i])
maaslar

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [120]:
def vergi(num):
    if num < 2500:
        num = num - 50
    else:
        num -= 100
    return num

for i in range(len(maaslar)):
    maaslar[i] = vergi(maaslar[i])
maaslar

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [121]:
students = ["John", "Mark", "Venessa", "Mariam"]

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [133]:
def func(lst):
    lst1 = []
    for index, student in enumerate(lst): #index numarasını istediğin yerden başlatabilirsin.
        lst1.append(index)
        lst1.append(student)
        
    return lst1

a = func(students)
a

[0, 'John', 1, 'Mark', 2, 'Venessa', 3, 'Mariam']

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [122]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [124]:
def alternating(string):
    new_string = ""

    for index,strin in enumerate(string):
        if index % 2 == 0:
            new_string += string[index].upper()
        else:
            new_string += string[index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [126]:
def take_input():
    isim = input()
    yas = input()
    
    return isim,yas

isim,yas = take_input()

print('Merhaba benim ismim '+ isim)
print(str(yas)+' yasındayım!')

 yavuz
 24

Merhaba benim ismim yavuz
24 yasındayım!